<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LogIn</title>
    <link rel="stylesheet" href="/enter/style/style.css">
</head>
<body>
    <div id="main-container">
        <div id="main-login-frame">
            <div id="login-icon-container">
                <img src="/enter/img/person.svg" alt="">
            </div>
            <div id="login-label">Login</div>
            <div id="error-label"></div>
            <form id="login-form">
                <input id="login" type="text" placeholder="Username" />
                <input id="password" type="password" placeholder="Password" />
                <button id="submit" type="submit">Login</button>
            </form>
        </div>
    </div>
</body>
<script src="/enter/script/script.js"></script>
</html>