<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRM</title>
    <link rel="stylesheet" href="/interface/style/style.css">
</head>
<body>
    <div id="main">

    <div id="main-sidebar">
        <div id="user-header">
            <div id="user-iconbox">
                <img src="/interface/img/avatar.png" alt="" draggable: false>
            </div>
            <div id="user-name">User</div>
        </div>
        <div id="sidebar-controls-tip"></div>
        <div id="sidebar-controls">
            <button id="controls-logout" class="controls-button">
                <img src="/interface/img/box-arrow-left.svg" alt="" draggable: false>
            </button>
        </div>
        <div id="sidebar-panel"></div>
        <div id="sidebar-footer">
            <div id="footer-time"></div>
            <div id="footer-date"></div>
        </div>
    </div>
    <div id="main-window">
        <div id="window-controls">
            <div id="window-module-name"></div>
            <button>
                <img src="/interface/img/x-square.svg" alt="">
            </button>
        </div>
        <div id="window-container">
            <iframe src="" frameborder="0" id="module-draw"></iframe>
        </div>
    </div>

    </div>
</body>
<script src="/interface/script/script.js"></script>
</html>